<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{error_code}} | {{title}}</title>
        <style>
            .notfound,body{width:100%;display:flex}body,h1{margin:0}*{-webkit-box-sizing:border-box;box-sizing:border-box}body{font-family:Montserrat,sans-serif;color:#000;padding:0;position:relative;height:100vh}.notfound{align-items:center;justify-content:center;flex-direction:column}.notfound-404{max-width:410px;text-align:center}h1{font-size:230px;font-weight:900}h2{font-size:24px;font-weight:700;text-transform:uppercase;margin-top:0}p{font-size:14px;font-weight:400;margin-bottom:20px}
        </style>
    </head>
    <body>
        <div class="notfound">
            <h1>Oops!</h1>
            <div class="notfound-404">
                <h2>{{error_code}} - {{title}}</h2>
                <p>{{description}}</p>
            </div>
        </div>
    </body>
</html>
